.tooltip {
    position: relative;
    display: inline-block;
    background-color: #007bc129;
    border-bottom: 1px dotted black;
    overflow: visible;
}

.tooltip .tooltiptext {
    font-size: 14px;
    visibility: hidden;
    min-width: 120px;
    max-width: 240px;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 4px 8px;

    /* Position the tooltip */

    z-index: 9999;
    position: absolute;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
