@import '../../node_modules/@brightlayer-ui/colors/palette.scss';
@import './switch';
@import './@fontsource/open-sans/300.css';
@import '@fontsource/open-sans/300-italic.css';
@import '@fontsource/open-sans/400.css';
@import '@fontsource/open-sans/400-italic.css';
@import '@fontsource/open-sans/600.css';
@import '@fontsource/open-sans/600-italic.css';
@import '@fontsource/open-sans/700.css';
@import '@fontsource/open-sans/700-italic.css';
@import '@fontsource/open-sans/800.css';
@import '@fontsource/open-sans/800-italic.css';


.eaton-acronym-plugin-container {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    * {
        box-sizing: border-box;
    }

    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    box-sizing: border-box;

    #acronymSearchInput {
        $borderColor: map-get($blui-gray, 100);
        width: 100%;
        height: 36px;
        border-radius: 18px;
        padding: 0 16px;
        box-shadow: inset 0px 0px 0px 0px $borderColor;
        border: solid 1px $borderColor;
        font-style: italic;
        color: map-get($blui-gray, 300);
        &:focus-visible {
            outline: none !important;
            border: solid 2px map-get($blui-blue, 500) !important;
        }
    }

    .toggle-container {
        margin-top: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
    }
    .switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
    }

    .switch input {
        display: none;
    }

    .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
    }

    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: '';
        height: 26px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 26px;
    }

    input:checked + .slider {
        background-color: #66bb6a;
    }

    input:checked + .slider:before {
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    #login {
        color: map-get($blui-blue, 500);
        text-decoration: underline;
        cursor: pointer;
    }

    #userContentContainer {
        display: none;
        width: 100%;
        .eaton-glossary-button {
            width: 100%;
            color: map-get($blui-white, 50);
            background-color: map-get($blui-blue, 500);
            border-radius: 4px;
            border: none;
            height: 36px;
            margin-top: 16px;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .user-email {
            font-weight: 600;
            font-size: 14px;
        }
        .user-contributions {
            cursor: pointer;
            color: map-get($blui-blue, 500);
        }
        .logout {
            cursor: pointer;
            margin-left: 16px;
            color: map-get($blui-red, 500);
        }
    }

    #searchContainer {
        width: 100%;
        display: none;
        padding-top: 16px;
        #noResultsFound {
            text-align: left;
            font-size: 16px;
        }
    }

    #suggestYourOwn {
        font-size: 16px;
        color: map-get($blui-blue, 500);
        cursor: pointer;
        text-decoration: underline;
    }

    .searched-acronym-item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 16px;
        > div:first-child {
            padding-right: 16px; /* Right content */
        }
        .acronym-meaning {
            font-size: 16px;
            color: map-get($blui-black, 500);
            font-weight: 600;
        }
        .acronym-sector-region {
            display: flex;
            color: map-get($blui-black, 500);
            font-size: 14px;
            margin-top: 4px;
            .small-icon {
                font-size: 14px;
                margin-right: 4px;
                color: map-get($blui-gray, 500);
            }
        }
        .large-icon {
            cursor: pointer;
            color: map-get($blui-gray, 500);
            font-size: 20px;
        }
    }

}
