@import 'discovered-item';

.eaton-acronym-plugin-tooltip-text {
    position: relative;
    display: inline-block;
    background-color: #007bc129;
    border-bottom: 1px dotted black;
    overflow: visible;

    .tooltip-text {
        font-size: 14px;
        visibility: hidden;
        min-width: 120px;
        width: 350px;
        background-color: map-get($blui-white, 50);
        border-radius: 4px;
        padding: 4px 8px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        /* Position the tooltip */
        z-index: 9999;
        position: absolute;

        .searched-acronym-item {
            padding: 8px;
            margin-bottom: 0;
            &.expanded .non-expanded {
                display: none;
            }
            &:not(.expanded) .expanded {
                display: none;
            }
        }
        .non-expanded {
            display: flex;
            width: 100% !important;
            padding-right: 0;
            justify-content: space-between;
        }
        .expanded {
            padding-right: 0!important;
            .icon-row {
                display: flex;
                align-items: center;
            }
        }

    }
    &:hover .tooltip-text {
        visibility: visible;
    }


    @include discovered-item;
}

